<!DOCTYPE html>
<html>
<head>
  <title>Chat App</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  {{{body}}}
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</html>